<header>
    <div class="navbar">
        <div class="brand-container">
            <p class="brand-name">TalentHub</p>
        </div>
        <div class="navbar-menu">
            <ul class="menu-list">
                <li class="menu-element"><a href="#" class="menu-link">Les annonces</a></li>
                <li class="menu-element menu-higlight"><a href="#" class="menu-link menu-link-highlight">Déposer une annonce</a></li>
            </ul>
        </div>
    </div>

    <div class="hero-banner">
        <div class="forground">
            <div class="wrapper">
                <h2 class="title-2-hero">Trouvez la mission qui vous correspond</h2>
                <p class="wrapper-text">Découvrez des annonces claires, accessibles et adaptées à vos talents.
                    Publiez, editez ou supprimez vos offres en toute simplicité.
                </p>

                <p class="wrapper-button">Découvrez les offres</p>
            </div>
        </div>
    </div>
</header>