<header>
    <div class="navbar">
        <div class="brand-container">
            <p class="brand-name"><a href="/" class="brand-name-link">TalentHub</p>
        </div>
        <div class="navbar-menu">
            <ul class="menu-list">
                <li class="menu-element"><a href="/announces" class="menu-link">Les annonces</a></li>
                <li class="menu-element menu-higlight"><a href="/share-announce" class="menu-link menu-link-highlight">Déposer une annonce</a></li>
            </ul>
        </div>
    </div>
</header>