<div class="announce">
    <h3 class="title-3-announce">
        <a href="/announce/view/<%= announce.id %>" class="announce-link" ><%= announce.title %></a>
    </h3>
    <p class="announce-text">
        <%= announce.description %>
    </p>
    <div class="announce-footer">
        <p class="announce-tag">Javascript</p>
        <p class="announce-tag">Typescript</p>
        <div class="publication-date">
        </div>
    </div>
</div>
</a>