/** Color palett **/
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.announce-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #FDFDFD;
}

.title-form {
  color: #154D71;
  padding: 0.25rem;
}

.form-label {
  font-size: 0.85rem;
  font-weight: bold;
  color: #154D71;
}

.announce-form-header {
  display: flex;
  flex-direction: column;
}

.announce-form-select-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.75rem;
}

.about-mission {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.create-password-field {
  font-size: 0.75rem;
  font-style: italic;
  color: rgb(from #154D71 r g b/65%);
}

.form-submit {
  color: #154D71;
  font-weight: bold;
  height: 2rem;
  padding: 0.5rem;
}

/** Color palett **/
.display-announce {
  text-align: justify;
}

.announce-main-title {
  color: rgb(from #154D71 r g b/65%);
  font-weight: bold;
  text-align: center;
}

.announce-description {
  color: #4C4C4C;
  font-style: italic;
}

.announce-body-text {
  text-align: justify;
}

.announce-skills {
  font-weight: bold;
}

.announce-title-3 {
  color: #154D71;
  text-align: center;
}

.announce-contact-link {
  color: #154D71;
  font-weight: bolder;
}

.announce-edit-link {
  color: #154D71;
  font-weight: bolder;
}

/* Smartphones portrait et paysage */
@media (max-width: 800px) {
  .brand-container {
    text-align: center;
  }
  .navbar {
    max-height: fit-content;
    padding: 5vw;
  }
  .navbar-menu {
    display: flex;
    justify-content: center;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50vw;
    gap: 1vw;
  }
  .menu-element {
    text-align: center;
  }
  .hero-banner {
    height: fit-content;
  }
  .title-2-hero {
    font-size: 1.1rem;
  }
  .wrapper-text {
    font-size: 0.9rem;
  }
  .wrapper-button {
    padding: 0.25rem;
    margin: 1rem;
    max-width: fit-content;
  }
  .title-2 {
    font-size: 1.1rem;
  }
  .announce-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0.75rem;
    max-width: 90vw;
  }
  .announce {
    max-width: fit-content;
    min-width: 30%;
    padding: 0.5rem;
    gap: 1rem;
  }
  .title-3-announce {
    font-size: 1rem;
  }
  .announce-text {
    padding: 0.25rem;
    font-size: 0.9rem;
  }
  .announce-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  /* READ ANNOUNCE */
  .announce-skills {
    display: flex;
    flex-direction: column;
  }
  /** Formulaire **/
  .announce-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
  }
  .title-form {
    padding: 0.25rem;
  }
  .form-label {
    font-size: 0.85rem;
    font-weight: bold;
    text-align: center;
    padding: 0.25rem;
  }
  .form-input {
    width: 90vw;
  }
  .announce-form-header {
    display: flex;
    flex-direction: column;
  }
  .announce-form-select-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem;
    padding: 1rem;
  }
  .announce-form-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .about-mission {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .create-password-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 90vw;
  }
  .password-field-warning {
    padding: 0.5rem;
    font-size: 0.6rem;
  }
  .form-submit {
    font-weight: bold;
    height: 2rem;
    padding: 0.5rem;
  }
  /** Visualisation d'une annonce **/
  .announce-main-title {
    font-size: 1.1rem;
  }
  .announce-description {
    margin: 0.25rem;
  }
  .announce-body-text {
    margin: 0.25rem;
    padding: 0.25rem;
  }
  .announce-skills {
    padding: 0.25rem;
  }
  .announce-type {
    padding: 0.25rem;
  }
  .announce-start-date {
    padding: 0.25rem;
  }
  .announce-salary {
    padding: 0.25rem;
  }
  .announce-title-3 {
    padding: 0.25rem;
  }
  .announce-mail {
    padding: 0.25rem;
  }
  .announce-edit {
    margin: 0.5rem;
  }
}
@media (min-width: 801px) {
  .navbar {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .hero-banner {
    height: 15rem;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .wrapper-button {
    padding: 0.5rem;
    margin: 1rem;
    max-width: max-content;
  }
  .menu-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  .announce-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .announce {
    max-width: 40%;
    min-width: 30%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .announce-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  /** Formulaire **/
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .announce-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 40%;
    padding: auto;
    padding: 2rem;
  }
  .title-form {
    padding: 0.25rem;
  }
  .form-label {
    font-size: 0.85rem;
    font-weight: bold;
  }
  .announce-form-header {
    display: flex;
    flex-direction: column;
  }
  .announce-form-select-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.75rem;
  }
  .annonce-form-contact {
    display: flex;
    flex-direction: column;
  }
  .about-mission {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .create-password-field {
    font-size: 0.75rem;
    font-style: italic;
  }
  .form-submit {
    font-weight: bold;
    height: 2rem;
    padding: 0.5rem;
  }
}
/** Color palett **/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding-bottom: 1rem;
}

.brand-name-link {
  color: black;
  text-decoration: none;
}

.brand-name-link:visited {
  color: black;
  text-decoration: none;
}

.navbar {
  border-bottom: solid #DADAD7 2px;
}

.brand-container {
  padding: 0.5rem;
}

.brand-name {
  font-size: 24px;
}

.menu-element {
  padding: 0.5rem;
  list-style-type: none;
  margin-right: 0.25rem;
}

.menu-higlight {
  background-color: rgb(from #154D71 r g b/65%);
  border-radius: 5px;
  box-shadow: 3px 3px rgb(from #154D71 r g b/30%);
}

.menu-link {
  color: #0F0E0E;
  text-decoration: none;
}

.menu-link:visited {
  color: #0F0E0E;
  text-decoration: none;
}

.menu-link-highlight {
  color: #FDFDFD;
  text-decoration: none;
}

.menu-link-highlight:visited {
  color: #FDFDFD;
  text-decoration: none;
}

.hero-banner {
  background-color: rgb(from #154D71 r g b/65%);
  border-bottom: 2px solid #DADAD7;
}

.forground {
  text-align: center;
  padding: 2rem;
  background-color: #DADAD7;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper-text {
  color: #FDFDFD;
}

.wrapper-button {
  background-color: #FDFDFD;
  color: #0F0E0E;
  border-radius: 5px;
  box-shadow: 4px 5px 2px 1px rgb(from #154D71 r g b/30%);
}

.title-2-hero {
  color: #FDFDFD;
}

.title-2 {
  padding: 0.5rem;
  color: #154D71;
}

.announce-container {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.announce {
  border: 2px solid #4C4C4C;
  border-radius: 5px;
  box-shadow: 2px 4px 2px #4C4C4C;
  gap: 1rem;
}

.announce-tag {
  background-color: rgb(from #154D71 r g b/30%);
  padding: 0.25rem;
  border-radius: 5px;
  box-shadow: 4px 4px #DADAD7;
}

.get-announces {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.get-announces-button {
  background-color: rgb(from #154D71 r g b/65%);
  color: #FDFDFD;
  padding: 0.1rem;
  margin: 1rem;
}

.footer-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #DADAD7;
}

.announce-link {
  color: black;
  text-decoration: none;
}

.announce-link:visited {
  color: black;
  text-decoration: none;
}

.announces-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

/*# sourceMappingURL=style.css.map */
