/** Color palett **/

$primary-100 : #154D71;
$primary-65 : rgb(from #154D71 r g b / 65%);
$primary-30 : rgb(from #154D71 r g b / 30%);

$secondary-100 : #CFAB8D;
$secondary-65 : rgb(from #154D71 r g b / 65%);
$secondary-30 : rgb(from #154D71 r g b / 30%);

$black : #0F0E0E;
$white : #FDFDFD;
$background : #F9F6F3;
$gray-dark : #4C4C4C;
$gray-light : #DADAD7; 

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.announce-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.50rem;
    width: 40%;

    border: 2px solid $gray-light;
    padding: 2rem;

    background-color: $white;
}

.title-form{
    color:$primary-100;
    padding: 0.25rem;
}

.form-label{
    font-size: 0.85rem;
    font-weight: bold;
    color: $primary-100;
}

.announce-form-header{
    display: flex;
    flex-direction: column;
}

.announce-form-select-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.30rem;
    padding: 0.75rem;

    border: 2px solid $gray-light
}

.about-mission{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.create-password-field{
    font-size: 0.75rem;
    font-style: italic;
    color: $secondary-65;
}

.form-submit{
    color: $primary-100;
    font-weight: bold;
    height: 2rem;
    padding: 0.5rem;
}