/** Color palett **/

$primary-100 : #154D71;
$primary-65 : rgb(from #154D71 r g b / 65%);
$primary-30 : rgb(from #154D71 r g b / 30%);

$secondary-100 : #CFAB8D;
$secondary-65 : rgb(from #154D71 r g b / 65%);
$secondary-30 : rgb(from #154D71 r g b / 30%);

$black : #0F0E0E;
$white : #FDFDFD;
$background : #F9F6F3;
$gray-dark : #4C4C4C;
$gray-light : #DADAD7; 

.display-announce{
    text-align: justify;
}

.announce-main-title{
    color:$primary-65;
    font-weight:  bold;
    text-align: center;
}

.announce-description{
    color:$gray-dark;
    font-style: italic;
}

.announce-body-text{
    text-align: justify;
}

.announce-skills{
    font-weight: bold;
}

.announce-title-3{
    color:$primary-100;
    text-align: center;
}

.announce-contact-link{
    color: $primary-100;
    font-weight: bolder;
}

.announce-edit-link{
    color: $primary-100;
    font-weight: bolder;
}