<%- include('../partials/head', {title:'Accueil'}) %>
    <%- include('../partials/header') %>

        <h2 class="title-2">Les dernières annonces</h2>

        <div class="announce-container">
            <div class="announce">
                <h3 class="title-3-announce">Développeur</h3>
                <p class="announce-text">Ceci est une offre d'emploi</p>
                <div class="announce-container-tag">
                    <p class="announce-tag">Javascript</p>
                    <p class="announce-tag">Typescript</p>
                </div>
            </div>
            <div class="announce">
                <h3 class="title-3-announce">Développeur</h3>
                <p class="announce-text">Ceci est une offre d'emploi</p>
            </div>
            <div class="announce">
                <h3 class="title-3-announce">Développeur</h3>
                <p class="announce-text">Ceci est une offre d'emploi</p>
            </div>
            <div class="announce">
                <h3 class="title-3-announce">Développeur</h3>
                <p class="announce-text">Ceci est une offre d'emploi</p>
                <div class="announce-container-tag">
                    <p class="announce-tag">Javascript</p>
                    <p class="announce-tag">Typescript</p>
                </div>
            </div>
            <div class="announce">
                <h3 class="title-3-announce">Développeur</h3>
                <p class="announce-text">Ceci est une offre d'emploi</p>
                <div class="announce-container-tag">
                    <p class="announce-tag">Javascript</p>
                    <p class="announce-tag">Typescript</p>
                </div>
            </div>
            <div class="announce">
                <h3 class="title-3-announce">Développeur</h3>
                <p class="announce-text">Ceci est une offre d'emploi</p>
                <div class="announce-container-tag">
                    <p class="announce-tag">Javascript</p>
                    <p class="announce-tag">Typescript</p>
                </div>
            </div>
        </div>