<% const pageTitle = PostedAnnounce.title + ' | TalentHub'; %>
<%- include('../partials/head', {title: pageTitle}) %>
<%- include('../partials/header') %>

<main>

<div class="display-announce">
    <p class="announce-main-title"> <%= PostedAnnounce.title %></p>
</div>

</main>

<%- include('../partials/footer') %>